<h1>@ViewData["Title"]</h1>

@model List<UserViewModel>

<section class="admin-section">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>User role</th>
                    <th>User information</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userViewModel in Model)
                {
                    <tr>
                        <td>@userViewModel.User.FirstName</td>
                        <td>@userViewModel.User.LastName</td>
                        <td>@userViewModel.User.Email</td>
                        <td>@string.Join(", ", userViewModel.Roles)</td>
                        <td>
                            <a href="@Url.Action("EditUser", new { id = userViewModel.User.Id })">View details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="new-user">
            <a class="link" asp-action="createuser" asp-controller="admin"><i class="fa-solid fa-plus"></i>Add new user</a>

        </div>
    </div>
</section>